html {
  display: grid;
  justify-content: center;
}
body {
  display: grid;
  grid-template-rows: 30% 40% 10% 15%;
  grid-template-columns: 100%;
  grid-template-areas:
    "first-container"
    "second-container"
    "third-container"
    "footer";
  max-width: 1440px;
  height: 100%;
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #fff;
}

/* header-container*/
.header-container {
  grid-area: first-container;
  padding: 2% 0% 40% 5%;
  display: grid;
  justify-content: start;
}
.container-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left image";
  align-items: center;
}
.container-left {
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 0%;
}
.container-left h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
  margin: unset;
}
.container-left p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  align-self: start;
  margin: 0%;
}
.container-left button {
  align-self: start;
}
.container-image {
  grid-area: image;
}
p,
ul {
  color: hsl(257, 7%, 63%);
}
.menu {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  margin-bottom: 5%;
  justify-content: flex-start;
  padding-left: 0%;
}

li {
  display: flex;
}
.logo {
  align-self: center;
  width: 8rem;
}
.connection {
  justify-content: end;
}
.connection button {
  background-color: hsl(180, 66%, 49%);
  border-radius: 15px;
  color: #fff;
  width: 5rem;
  height: 2rem;
  border: none;
}

/* Secod part of the page */
.container-body {
  grid-area: second-container;
  background-color: hsla(257, 7%, 63%, 0.1);
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.6fr;
  grid-template-areas:
    "title"
    "flex";
  justify-content: center;
  align-content: center;
}
.container-title {
  grid-area: title;
  width: 37%;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-self: center;
  left: 25%;
  top: 25%;
  width: 65%;
  height: 50%;
  font-size: 0.7rem;
  text-justify: auto;
  border-radius: 9px;
}
.flexbox img {
  position: relative;
  top: -20px;
  left: 20px;
  background-color: hsl(260, 8%, 14%);
  border-radius: 50px;
}
.flexbox-left {
  position: relative;
  background-color: #fff;
  right: 00%;
  border-radius: 6px;
  top: -20%;
}
.flexbox-center {
  background-color: #fff;
  border-radius: 6px;
}
.liseret {
  background-color: hsl(180, 66%, 49%);
  height: 3%;
  width: 100px;
  align-self: center;
  text-align: center;
}
.flexbox-right {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  left: 00%;
  top: 20%;
}
.flexbox p,
.flexbox h3 {
  padding: 2% 5%;
  margin: 0%;
}
.flexbox h3 {
  font-size: 1rem;
}
.flexbox p {
  font-size: 0.8rem;
}

/* Third part of the page */
.boostLink {
  display: grid;
  grid-area: third-container;
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-clip: border-box;
  justify-items: center;
  align-content: center;
  padding: 4%;
}
.boostLink h2 {
  color: #fff;
  font-weight: 500;
}
button {
  background-color: hsl(180, 66%, 49%);
  border-radius: 17px;
  color: #fff;
  width: 8rem;
  height: 2.3rem;
  font-weight: 500;
  font-size: 0.8rem;
  border: none;
}
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  justify-content: space-evenly;
  align-content: start;
  padding: 2%;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: hsl(260, 8%, 14%);
}
footer .logo {
  align-self: flex-start;
  padding-top: 1%;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
}
footer h3 {
  color: #fff;
  font-size: 1.6rem;
}
.list {
  display: flex;
  flex-direction: row;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: space-between;
}
.list b {
  color: #fff;
  line-height: 2rem;
}
.listing1,
.listing3,
.listing2 {
  display: flex;
  flex-direction: column;
  line-height: 0.1rem;
}
.socialNetworks {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}
